<h1>About</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Capstone News App </h3>
  </div>
  <div class="panel-body">
    Made with 
    <ul class="list-group">
    		<li class="list-group-item">Framework : <a href="http://emberjs.com/" target="_blank" role="link" aria-label="EmberJS">EmberJS</a></li>
    		<li class="list-group-item">Resource API : <a href="https://newsapi.org/" target="_blank" role="link" aria-label="News Api">News Api</a></li>
    		<li class="list-group-item">Site Template: <a href="https://bootswatch.com/darkly" target="_blank" role="link" aria-label="Bootswatch - Darkly Bootstrap template">Bootswatch - Darkly Bootstrap template</a> </li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Developer</h3>
  </div>
  <div class="panel-body">
<img src="/assets/images/developer.jpg" alt="Developer's image" style="width:30%;height:auto;"> 

<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">Name</span>
    Jeevan George Antony
  </li>
  <li class="list-group-item">
    <span class="badge">Nick Name</span>
   	 JGA
  </li>
  <li class="list-group-item">
    <span class="badge">Profession</span>
    It's Complicated
  </li>
</ul>

  </div>
</div>

{{outlet}}
