<style>
	#hcontainer{
		
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items :baseline;
	}
	#hitem{
		flex: 0;
		margin-bottom:5%;
	}
	img{
		max-width: 250px;
		min-height:250px;
	}

</style>


<h1 align="center">Capstone News App</h1>

<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Warning!</h4>
  <p>Site under construction</p>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Note</h3>
  </div>
  <div class="panel-body">
    Top 10 News from following sources are provided. 
  </div>
</div>

<div id="hcontainer">
		<div id="hitem">        	
        	{{#link-to 'bbc'}}<img src="/assets/images/bbc-news-icon.png" alt="bbc news logo">{{/link-to}} 
        </div>
		<div id="hitem">
			{{#link-to 'bbcsports'}}<img src="/assets/images/bbcsport.png" alt="bbc sports logo">{{/link-to}}
		</div>	
		<div id="hitem">
			{{#link-to 'cnn'}}<img src="/assets/images/cnn-icon.png" alt="cnn logo"> {{/link-to}}
	    </div>
		<div id="hitem">
			{{#link-to 'espn'}}<img src="/assets/images/ESPN.png" alt="espn logo"> {{/link-to}}
		</div>	
</div>




